
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        border-radius: 15px;
        box-shadow:blueviolet;
        font-weight: bolder;
        border: 2px solid rgb(7, 36, 36);
        
      }
      
      li {
        float: left;
      }
      
       a {
        display:inline-block;
        color:ivory;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      a:hover {
        background-color: #111;
      
      
      } 
      body{
        background-color:rgb(42, 42, 85);
        color:ivory;
        font-size: 10px;
    }
    #footer{
      background-color: black;
      text-align:center;
      padding: 5px;
      color:white;
      border-radius: 15px;
      border: 2px solid rgb(7, 36, 36);
    }
    .user{
      
      font-weight: bolder;
      color:rgb(10, 10, 10)
      
    }
    .user:hover{
      color:red;
    }